.home-container {
    padding: 24px 60px;
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
}

.carrossel-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.carrossel {
    display: flex;
    overflow-x: hidden;
    gap: 20px;
    flex: 1;
    min-width: 0;
}

.setas-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.seta {
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 35px;
    cursor: pointer;
}

.seta:hover {
    background-color: transparent;
}