.container-cards {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
}

.card-item {
    background-color: #cbc3ba;
    min-width: 160px;
    padding: 15px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.cards-top {
    margin: 0;
}

.cards-top h2 {
    margin: 0 0 8px 0;
    font-size: 18px;
}

.servico {
    background-color: #eeeeee;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 13px;
    display: inline-block;
}

.cards-bottom {
    border-top: 1px solid #eeeeee;
    padding-top: 8px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.valor {
    font-size: 13px;
}

.btn-whatsapp {
    color: white;
    background-color: black;
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 4px;
    white-space: nowrap;
    text-decoration: none;
}