.layout-container {
    display: grid;
    grid-template-columns: 120px 1fr; 
    min-height: 100vh;
    background-color: #eef0f2;
}

aside {
    width: 120px; 
}
main {
    min-width: 0; 
    overflow: hidden;
}